<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/x-icon" href="/favicon.ico?v=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="/bootstrap/js/bootstrap.js"></script>
    <title>Artificial brains - Reset password</title>
  </head>
  <body>
    <div class="container-fluid" style="background-color: #006666; height: 100vh;padding-top: 10%;">
      <div class="row">
        <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
          <div style="text-align: center;font-size: 32px;font-weight: bolder;margin-bottom: 8px;color: white;">ARTIFICIAL BRAINS</div>
          <div class="card">
            <div class="card-body">
              <h4 class="text-center">Reset Password</h4>
              <small id="genericError" style="color: maroon;"></small>
              <div class="form-group">
                <label>Password</label>
                <input id="password" type="password" class="form-control" placeholder="Password" value="">
              </div>
              <div class="form-group">
                <label>Re-type password</label>
                <input id="retypePassword" type="password" class="form-control" placeholder="Re-type password" value="">
              </div>
              <button class="btn btn-outline-dark" href="javascript:void(0)" onclick="onSubmitClicked()">Submit</button>
            </div>
          </div>
          <br>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="/js/global.js"></script>
    <script type="text/javascript">
      function onSubmitClicked() {
        document.getElementById('genericError').innerHTML = '';

        var password = document.getElementById('password').value;
        if (password.length < 6) {
          document.getElementById('genericError').innerHTML = 'Invalid password';
          return false;
        }

        var retypePassword = document.getElementById('retypePassword').value;
        if (password != retypePassword) {
          document.getElementById('genericError').innerHTML = 'Invalid re-type password';
          return false;
        }

        var params = {
          'step': 2,
          'email': getParamInUrl('email'),
          'code': getParamInUrl('code'),
          'newPassword': password,
        };

        restapi.patch(AS_URL, '/api/user/reset-password', null, JSON.stringify(params), null, '/sign-in', function(msgResp) {
          document.getElementById('genericError').style.color = 'green';
          document.getElementById('genericError').innerHTML = 'Password updated!';
          setTimeout(function(){ location.href = '/sign-in'; }, 2000);
        }, function(msg) {
          console.log(msg);
          document.getElementById('genericError').innerHTML = msg.msgResp+' ('+msg.msgCode+')';
        });
        
        return false;
      }
    </script>
  </body>
</html>