<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/x-icon" href="/favicon.ico?v=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="/bootstrap/js/bootstrap.js"></script>
    <title>Artificial brains - Reset password</title>
  </head>
  <body>
    <div class="container-fluid" style="background-color: #006666; height: 100vh;padding-top: 10%;">
      <div class="row">
        <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
          <div style="text-align: center;font-size: 32px;font-weight: bolder;margin-bottom: 8px;color: white;">ARTIFICIAL BRAINS</div>
          <div class="card">
            <div class="card-body">
              <h4 class="text-center">Reset Password</h4>
              <div class="form-group">
                <label>Email address</label>
                <input id="email" type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="errorMessage" style="color: maroon;"></small>
              </div>
              <button class="btn btn-outline-dark" href="javascript:void(0)" onclick="onSubmittedClicked()">Submit</button>
            </div>
          </div>
          <br>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="/js/global.js"></script>
    <script type="text/javascript">
      function onSubmittedClicked() {
        const emailRegexp = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/;
        var email = document.getElementById('email').value;
        if (!email || !emailRegexp.test(email)) {
          document.getElementById('errorMessage').innerHTML = 'Invalid email';
          return false;
        }

        var params = {
          'step': 1,
          'email': email,
          'webPageUrl': DLPS_URL+'/reset-password-with-code'
        };
        
        restapi.patch(AS_URL, '/api/user/reset-password', null, JSON.stringify(params), null, '/sign-in', function(msgResp) {
          document.getElementById('errorMessage').innerHTML = 'Email sent';
        }, function(msg) {
          document.getElementById('errorMessage').innerHTML = msg.msgResp;
        });

        return false;
      }
    </script>
  </body>
</html>