<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="/bootstrap/js/bootstrap.js"></script>
  <title>DLP - AI Model</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">DLP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/profile/index">MY PROFILE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/ai-model/list">MY MODELS</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
  <br>
  <div class="container-fluid">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Type</th>
          <th scope="col">Name</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody id="aiModeTemplate" style="display: none;">
        <tr>
          <th scope="row">1</th>
          <td>{TYPE}</td>
          <td>{NAME}</td>
          <td>
            <a href="javascript:void(0)" class="btn btn-outline-warning btn-sm" onclick="openModel('{ID}')">OPEN</a>
            <a href="/ai-model/detail-{TYPE_DETAIL}?id={ID}" class="btn btn-outline-warning btn-sm">DETAIL</a>
          </td>
        </tr>
      </tbody>
      <tbody id="aiModeList"></tbody>
    </table>
  </div>
  <script type="text/javascript">
    const typeMap = {
      'IMAGE_CLASSIFICATION_DATAGEN': 'ic',
      'OBJECT_DETECTION_DATAGEN': 'od',
      'HEATMAP_REGRESSION_DATAGEN': 'hm',
    };

    function openModel(id) {
      var http = new XMLHttpRequest();
      http.open('GET', 'https://ai-designer.io/api/aimodel/detail?id='+id, true);
      http.setRequestHeader('Authorization', localStorage.getItem('TOKEN'));
      http.onreadystatechange = function() {
        if(http.readyState == 4) {
          if (http.status == 401) {
            location.href = '/sign-in';
            return;
          }

          var msg = JSON.parse(http.responseText);
          if (msg.msgCode == 1000) {
            localStorage.setItem('MODEL', JSON.stringify(msg.msgResp));
            location.href = '/dlt';
          }
        }
      }
      http.send();
    }

    function load() {
      var http = new XMLHttpRequest();
      http.open('GET', 'https://ai-designer.io/api/aimodel/list', true);
      http.setRequestHeader('Authorization', localStorage.getItem('TOKEN'));
      http.onreadystatechange = function() {
        if(http.readyState == 4) {
          if (http.status == 401) {
            localStorage.setItem('REDIRECT_URL', '/ai-model/list');
            location.href = '/sign-in';
            return;
          }

          var msg = JSON.parse(http.responseText);
          if (msg.msgCode == 1000) {
            var models = msg.msgResp;
            var aiModeListNode = document.getElementById('aiModeList');
            for (var i = 0; i < models.length; i++) {
              var model = models[i];
              var tempHtml = document.getElementById('aiModeTemplate').innerHTML;
              tempHtml = tempHtml.replaceAll('{TYPE}', model.type);
              tempHtml = tempHtml.replaceAll('{TYPE_DETAIL}', typeMap[model.type]);
              tempHtml = tempHtml.replaceAll('{ID}', model._id);
              tempHtml = tempHtml.replaceAll('{NAME}', model.name);
              var tempNode = document.createElement('tbody');
              tempNode.innerHTML = tempHtml.trim();
              aiModeListNode.appendChild(tempNode.firstChild);
            }
          }
        }
      }
      http.send();
    }

    load();
  </script>
</body>
</html>